@import url('https://fonts.googleapis.com/css?family=Raleway');

.tabs
{
    overflow: hidden;
    background-color: #303030 

}
.name
{
    background-color:inhert;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 0px 1px;
    border: none;
    transition: 0.3s;
    color:white;
    font-size: 35px;

    position: relative; 

    

}


.tabs button
{
    background-color:inherit;
    float: right;
    outline: none;
    cursor: pointer;
    padding: 0px 25px;
    border: none;
    transition: 0.3s;
    color:white;
    font-size: 35px;

    position: relative; 
}

.intro
{
    font-size: 25px;
    text-align: left;
    margin-top:40px;
    margin-left:10px;
    margin-right:60px;
}

body
{
    font-family: 'Raleway', sans-serif; font-size:22px;
    background-color: #303030 ;
    color:white
}



.projectsec:before {

    content: attr(title);
    display: block;
  }

  img{
 
    padding: 25px 100px;
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
  }
  
  ul {
    align-content:center;
    padding: 0;
  }
  
  li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
  
  li img {
    max-width: 100%;
    height: auto;
  }